{% load static %}

<section class="latest-posts"> 
    {% if latest_posts %}
    
    <div class="container">
      <header> 
        <h2>Latest from the blog</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row">
        {% for post in latest_posts %}
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">{{ post.date_created | date:"SHORT_DATE_FORMAT"}}</div>
              <div class="category"><a href="#">{{ post.category }}</a></div>
            </div><a href="{{ post.get_absolute_url }}">
              <h3 class="h4">{{ post.title|slice:80 }}...</h3></a>
            <p class="text-muted">{{ post.overview|slice:120 }}...</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    {% else %}
      <h3 class="text-center py-4 text-muted">Nothing to show yet. please come back later</h3>
    {% endif %}
  </section>